<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ptax - Novo mentorado confirmado</title>
  <style>
    body{
      margin: 0 auto;
      text-align: center;
      padding: 0;
      background-color: #f1f2f7;
    }
  </style>
</head>
<body>
    <table border="0" width="100%" cellspacing="0" cellpadding="0">
        <tbody>
        <tr>
            <td align="center" valign="top">
                <table border="0" width="600" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="600" height="11" bgcolor="#99D14F">
                            &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td width="600" align="center" valign="center">
                            <img src="https://ptaxboutique.com.br/img/logo-email.png" height="93" alt="Logo Ptax" style="margin: 20px 0 20px 0;">
                        </td>
                    </tr>
                    <tr>
                        <td width="600" align="left" style="color: white; font-family: Arial, Helvetica, sans-serif; font-weight: 600; background-color: #1E2D50; padding: 30px 40px 30px 40px; font-size: 24px;">
                            Novo mentorado registrado
                        </td>
                    </tr>
                    <tr>
                        <td width="600" align="left" style="color: #666666; font-family: Arial, Helvetica, sans-serif; background-color: #ffffff; padding: 40px 40px 40px 40px; font-size: 15px; border: 1px solid #DEDEDE; line-height: 1.5;">
                            Olá, {{ name }}. <br><br>

                            Acabamos de processar o seu pedido. <br><br>

                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus dolorum ullam harum nesciunt tempora recusandae iusto quis eius rerum quae dolores et aperiam reiciendis officia tenetur ut, hic, enim similique numquam accusantium veritatis voluptate. Voluptates cumque velit, expedita sunt, consequuntur dolorem facere maxime odio repellendus, quae illo doloremque commodi iusto ex architecto rerum hic.  <br><br>

                            Placeat molestias, eius officia dolor aperiam, corporis natus nisi rem nam unde fugit repellat illo reiciendis, deleniti beatae voluptates dolore laborum! <br><br>
                        </td>
                    </tr>
                    <tr>
                        <td width="600" align="center" style="color: #666666; font-family: Arial, Helvetica, sans-serif; font-size: 13px; padding: 20px 10px 10px 10px; line-height: 1.4; ">
                            Ptax - People and Tax Boutique <br>
                            Todos os direitos reservados.
                        </td>
                    </tr>
                </table>
            </td>
        <tr></tr>
    </table>
</body>
</html>