@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Gotham";
    src: url("./fonts/Gotham-Book.woff2") format("woff2"),
        url("./fonts/Gotham-Book.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Medium";
    src: url("./fonts/Gotham-Medium.woff2") format("woff2"),
        url("./fonts/Gotham-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Gotham Bold";
    src: url("./fonts/Gotham-Bold.woff2") format("woff2"),
        url("./fonts/Gotham-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: "Gotham";
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
    body {
        color: white;
    }
}

@layer components {
    body {
        @apply font-gotham;
    }

    .loginpage {
        @apply relative w-full min-h-screen bg-green_lightest flex flex-col items-end lg:flex-row lg:justify-end;

        &__bgcol {
            @apply flex justify-center items-start pt-8 lg:pt-0 lg:items-center min-h-screen bg-login bg-cover bg-center w-[86%] lg:basis-7/12 2xl:basis-8/12;

            img {
                @apply w-[50vw] sm:w-[40vw] md:w-[30vw] lg:w-[22vw] lg:translate-x-[8vw] xl:w-[320px] xl:translate-x-[5vw];
            }
        }
    }

    .loginbox {
        @apply absolute z-10 
        left-[5%] xl:left-[10vw] 
        w-[90%] lg:w-[580px] xl:w-[630px] 
        h-[65vh] lg:h-[80vh] top-1/2 -translate-y-1/2 
        bg-green_mid flex justify-between items-center border-l-4 border-orange;

        &__bar {
            @apply w-2/12 sm:w-3/12 h-full block bg-boxlogin bg-cover bg-center;
        }

        &__content {
            @apply w-10/12 sm:w-9/12 h-full flex flex-col justify-center items-center;
        }

        &__wrapper {
            @apply flex flex-col w-9/12;

            h1 {
                @apply font-gotham_medium text-2xl lg:text-[38px] text-white;
            }

            form {
                @apply flex flex-col mt-8;

                label {
                    @apply text-white font-gotham_medium text-sm mb-1;
                }

                input[type="text"],
                input[type="password"] {
                    @apply border-b border-green_light bg-transparent outline-none font-gotham_medium text-sm text-green_aqua focus:outline-none focus:border-green_aqua focus:ring-0 focus:text-white focus:bg-transparent transition-all duration-300 mb-10 py-3 px-2;
                }

                div {
                    @apply flex flex-wrap md:flex-nowrap justify-between w-full items-center;
                }

                button {
                    @apply bg-orange font-gotham_medium text-white text-sm px-4 py-2 inline-block rounded-md transition-all duration-300 hover:bg-green_dark mb-6 lg:mb-0;
                }

                a {
                    @apply text-white block font-gotham_medium text-sm transition-all duration-300 hover:text-orange;
                }
            }
        }
    }

    aside {
        @apply fixed top-0 left-0 z-10 w-sidebar_mobile h-screen lg:relative min-h-screen basis-sidebar_mobile lg:basis-[30%] xl:basis-[30%] 2xl:basis-3/12 bg-green_mid2 grid lg:p-10 lg:pr-0 2xl:p-12 2xl:pr-0 transition-all duration-300;

        .sidebar {
            @apply w-full min-h-[590px] xl:min-h-[600px] h-full bg-green_mid flex shadow-2xl relative overflow-auto;

            /* contorno laranja */
            &:after {
                content: "";
                @apply absolute inset-0 w-sidebar_mobile border-l-4 bg-green_dark border-orange z-0;
            }

            &__container {
                @apply relative w-full h-full flex flex-col justify-between items-start z-10;
            }

            &__logo {
                @apply py-8 pl-20 xl:pl-24 xl:pt-14 xl:pb-14 hidden lg:block w-full;
            }

            nav {
                @apply w-sidebar_mobile lg:w-full flex-grow flex flex-col justify-between;

                .ul-main {
                    @apply flex flex-col overflow-hidden;
                    /* @apply mt-20 lg:mt-0 w-full flex flex-col overflow-hidden transition-all duration-300; */

                    & > li > a {
                        @apply first:flex justify-start items-center w-[200px] lg:w-full border-l-4 border-transparent hover:border-green_mid transition-all duration-300 py-2 xl:py-3;

                        span {
                            &:first-of-type {
                                @apply w-sidebar_mobile flex justify-center;
                            }

                            &:last-of-type {
                                @apply block font-gotham_medium text-sm xl:text-base transition-all duration-300;
                            }
                        }
                    }
                }
            }
        }
    }

    /* .ul-mainlast {
        @apply mt-0 !important;
    } */

    aside.opened {
        @apply w-sidebar_opened;

        .ul-main {
            @apply w-sidebar_opened mt-10;

            .holderSubmenu {
                @apply w-full;

                .divSubmenu {
                    @apply flex;
                }
            }
        }

        .boxHelp {
            .deskVers {
                @apply block;
            }
        }

        .sidebar__logo {
            @apply block w-[90%] pb-0;
        }
    }

    .navbar-burger {
        span {
            @apply absolute h-[3px] w-full bg-white block transition-all duration-300;

            &:nth-child(1) {
                top: 0px;
                transition: all 0.2s ease-in-out;
            }
            &:nth-child(2) {
                top: calc(50% - 7px);
            }
            &:nth-child(3) {
                top: calc(50%);
                transition: all 0.2s ease-in-out;
            }
        }
    }

    .navbar-burger.is-active {
        span {
            &:nth-child(1) {
                @apply translate-y-1 rotate-45;
            }
            &:nth-child(2) {
                @apply opacity-0;
            }
            &:nth-child(3) {
                @apply translate-y-[-10px] -rotate-45;
            }
        }
    }

    .ctmain {
        @apply min-h-screen ml-[60px] lg:ml-0 basis-content_mobile lg:basis-[70%] xl:basis-[70%] 2xl:basis-9/12 bg-green_lightest grid lg:p-10 lg:pl-0 2xl:p-12 2xl:pl-0;

        &__container {
            @apply w-full bg-white shadow-2xl lg:max-h-content_xl 2xl:max-h-content_2xl lg:overflow-y-scroll p-10;
        }
    }

    .cardsGrid {
        @apply grid md:grid-cols-2 2xl:grid-cols-4 my-10 gap-8;
    }

    .tableGrid {
        @apply grid grid-cols-12 gap-2;
    }

    .tableFlex {
        @apply flex flex-row justify-between items-center;
    }

    .tableFlexResp {
        @apply flex flex-col space-y-4 lg:space-y-0 lg:flex-row justify-between items-center;
    }

    .tableH2 {
        @apply text-lg text-green_light font-gotham_medium m-0 p-0 leading-none;
    }

    .tableHead {
        @apply font-gotham_medium text-xs lg:text-sm text-gray3;
    }

    .tb_hr {
        @apply bg-[#E3EAF4]/80 h-px w-full my-2 block;
    }

    .tb_p {
        @apply text-sm font-gotham_medium text-paragraph;
    }

    .tb_p-xs {
        @apply text-xs font-gotham_medium text-paragraph;
    }

    .rowGrid {
        @apply relative w-full rounded-lg bg-white hover:shadow-tbrow transition-all duration-300 px-2 py-3 flex-col justify-center items-start;
    }

    .rowGridHoriz {
        @apply relative w-full rounded-lg bg-white hover:shadow-tbrow transition-all duration-300 px-3 py-4 flex justify-between items-center;
    }

    .rowGridLower {
        @apply relative w-full rounded-lg bg-white hover:shadow-tbrow transition-all duration-300 px-2 py-2 flex-col justify-center items-start;
    }

    .tb_waiting {
        @apply w-full border border-blue-500 !important;
    }

    .formLabel {
        @apply font-gotham_medium text-sm pl-[6px] leading-[1.35] mb-[5px] text-[#596983];
        span {
            @apply font-gotham;
        }
    }

    form {
        button[type="submit"] {
            @apply bg-green_light text-white rounded-lg border-green_light border-2 hover:bg-white hover:text-green_light transition-all duration-300 px-8 h-9 mb-10;
        }
    }

    .acc-content {
        @apply relative w-full border border-red-500 h-0 overflow-hidden transition-all duration-300;
    }

    .acc-content.opened {
        @apply h-auto;
    }
}
